<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My First Webpage</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>
        My First Webpage
    </h1>
    <p>This is a paragraph...</p>
    <p>When the below button clicks then the button count will increments.</p>
    <p>Button Click Counts: 5</p>
    <button style="background-color: blue; color: white;" id="clickButtonCount">
        A colored button with css and JavaScript
    </button>
</body>
</html>